.cve-list-container {
    margin: 2rem;
  }
  
  .cve-list-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .cve-list-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cve-list-header {
    background-color: #c9c4c4;
    text-transform: uppercase;
  }
  
  .cve-list-header-cell {
    padding: 0.75rem;
    text-align: left;
  }
  
  .cve-list-row {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  .cve-list-row:hover {
    background-color: #c9c4c4;
  }
  
  .cve-list-cell {
    padding: 0.75rem;
  }
  
  .cve-list-no-data {
    text-align: center;
  }
 
  .cve-list-pagination-button {
    padding: 0.5rem 1rem;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }

  .cve-list-pagination-button-active{
    background-color: white;
  }
  
  .cve-list-pagination-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .cve-list-pagination-page-info {
    margin: 0 1rem;
  }

  .flex-col.r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .results-per-page{
    width: 50%;
    position: relative;
    top: 6vh;
  }
   
  .cve-list-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width:max-content;
    position: relative;
    left: 60%;
    bottom: 2vh;
  }

  .cve-list-pagination h4{
    margin-right: 20px;
  }
  